<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>About Us</title>
</head>
<body>
    <div class="wrapper">    
        <main class="container my-5">
            <div class="row">
                <div class="col md-8">
                    <h1 class="display-4">Welcome to my CoolWebsite!</h1>
                    <p class="lead">My name is Ilmars.</p>
                    <p>In this project, I will be using Bootstrap and later Ruby on Rails to make this stuff run.</p>
                    <p>Why ruby? Ruby was my first language ever.</p>
                    <p>I’m building something like a chat with authentication and whatever else comes to my mind while studying at <a href="https://www.startschool.org/" target="_blank" class="streched-link">StartSchool</a>.
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <%= image_tag "spiritual_animal.jpg", alt: "Dude", class: "img-fluid rounded shadow-sm" %>
                    <p class="mt-2">My spirit animal</p>
                </div>
            </div>
        </main>
    
        <footer class="bg-dark text-white text-center py-3">
            <p>&copy; 2024 Dogface industries</p>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>